<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../CSS/StySheet.css">
    <title>Beranda</title>
</head>
<body>
    <header>
        <div class="logo">
          <a href="#daftar"><img src="../Aset/logo.png" alt="" width="100%" height="auto" /></a>
          <h2>
            Blue <br />
            inovation
          </h2>
        </div>
        <div class="nav">
          <a href="">Home</a>
          <a href="#lowongan">Lowongan Pekerjaan</a>
          <a href="">About Us</a>
          <a href="/login">Login</a>
        </div>
      </header>
    <main>
        <a href="/daftar"><img src="../Aset/Desktop - 1.png" alt="poster" class="Slide"></a>
        <!-- <article>
            <div class="card" id="daftar">
                <h1>Blue Innovation</h1>
                <p>Perusahaan Yang Bergerak dibidang Teknologi terbarukan, memberikan pengalaman yang menyenangkan <br> Tunggu Apa Lagi? Lets Join US </p>
                <button class="daftar"><a href="/regitrasi" class="regis">Daftar</a></button>
            </div>
        </article> -->
            <h1 id="coba">Lowongan Pekerjaan</h1>
            <div id="lowongan" class="lowongan">
                <div class="card">
                    <img src="../Aset/Frame 4.png" alt="">
                    <button class="detail"><a href="#">Detail</a></button>
                </div>
                <div class="card">
                    <img src="../Aset/Frame 9.png" alt="">
                    <button class="detail"><a href="#">Detail</a></button>
                </div>
                <div class="card">
                    <img src="../Aset/Frame 10.png" alt="">
                    <button class="detail"><a href="#">Detail</a></button>
                </div>
                <div class="card">
                    <img src="../Aset/Frame 11.png" alt="">
                    <button class="detail"><a href="#">Detail</a></button>
                </div>  
                <div class="card">
                    <img src="../Aset/Frame 12.png" alt="">
                    <button class="detail"><a href="#">Detail</a></button>
                </div>  
            </div>
        </div>
        <div class="aboutUs">
            
        </div>
    </main>
    <footer>
        <p>Create by - Blue inovation 2024</p>
    </footer>
</html>